.app {
  text-align: center;;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  margin: 35px 0 35px 0;
  color: white;
  letter-spacing: 1rem;
}

h2 {
  margin: 50px 0 50px 0;
  color: white;
  letter-spacing: 0.8rem;
}

.section-releases {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid;
  border-color: white;
  margin: 25px 50px 25px 50px;
  height: 200px;
  padding: 20px;
}

.image-container {
  height:180px;
}

.release-img {
  height: 100%;
  width: auto;;
}

.text{
  color: white;
  letter-spacing: 0.2rem;
}

.background-img {
  height: 100%;
  width: auto;
}

.socials-container {
  padding-bottom: 25px;
}

.social-link {
  margin:35px;
}