.app {
  text-align: center;;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  margin: 35px 0 35px 0;
  color: white;
  letter-spacing: 1rem;
}

h2 {
  margin: 50px 0 50px 0;
  color: white;
  letter-spacing: 0.8rem;
}

.section-main {
  width: 100%;
}

.section-releases {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid;
  border-color: white;
  margin: 25px 50px 25px 50px;
  height: 200px;
  padding: 20px;
}

.image-container {
  height:180px;
}

.release-img {
  height: 100%;
  width: auto;;
}

.description-container {
  display:flex;
  align-items: center;
  height: 100px;
  width: 150px;
}

.text{
  color: white;
  letter-spacing: 0.2rem;
}

.text:hover {
  font-weight: 600;
}

.background-img {
  height: 100%;
  width: auto;
}

.section-footer {
  display: flex;
  justify-content: center;
  height: 100px;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 20px;
  height: 55px;
  width: 55px;
}

.social-link {
  
}

.social-link:hover {
  height: 52px;
  width: auto;
}

/* Mobile View */

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }
  .background-img {
    width: 250px;
  }

  .section-releases {
    height: 100px;
    padding: 0;
  }

  .release-img {
    height: 50px;
    width: auto;
  }

  .image-container {
    height: 50px;
  }

  .section-footer {
    bottom: 0;
  }
}